
<!-- <ion-header>
    <ion-toolbar color="primary">
      <ion-title>BAM</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

<ion-tabs>
  <ion-tab label="LIMS" icon="flask" href="/tabs/(lims:lims)">
    <ion-router-outlet name="lims"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="CRM" icon="people" href="/tabs/(crm:crm)">
    <ion-router-outlet name="crm"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="SURVEY" icon="paper" href="/tabs/(survey:survey)">
    <ion-router-outlet name="survey"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
