<!-- <ion-header>
  <ion-nav>
    <ion-title>lims</ion-title>
  </ion-nav>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>LIMS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LIMS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
Lims Page
</ion-content>
